/*.active-row, .rs-table-row .rs-table-cell {
  background-color: green;
}*/

/*.active-row, .rs-table-row .rs-table-cell {
  background-color: green;
}*/

.active-row .rs-table-row {
  background-color: green;
}

.active-row .rs-table-cell {
  background-color: green;
}
